<div class="columns">
  <div class="column sortableHandle sortableHandleColumn">↕</div>
  <div class="column configColumn">
    <span *ngIf="machine.type === ''">
      <span class="label">Select type or recipe:</span>
      <dropdown [options]="allTypesAndRecipes" (valueChange)="machine.setTypeOrRecipe($event)"></dropdown>
    </span>
    <span *ngIf="machine.type.length > 0">
      <input type="text" [(ngModel)]="machine.countText" class="input machineCount">
      <dropdown [options]="allTypes" [(value)]="machine.type"></dropdown>
      for
      <dropdown [options]="recipesPerType[machine.type]" [(value)]="machine.recipe"></dropdown>
      <div class="extraSettings">
        <span *ngIf="machine.hasFuel()">
        <span class="label">Fuel:</span>
          <dropdown [options]="allFuelTypes" [(value)]="machine.fuel"></dropdown>
        </span>
        <span *ngIf="machine.modules.length > 0">
          <span class="label">Modules:</span>
          <span *ngFor="let module of machine.modules">
            <dropdown [options]="allModuleTypes" [(value)]="module.type" showIconOnly="true"></dropdown>
          </span>
        </span>
      </div>
    </span>
  </div>
  <div class="column">
    <span class="label">In:</span>
    <items-speed [value]="machine.maxInput"></items-speed>
    <span *ngIf="!hasAnyKey(machine.maxInput)">–</span>
    <br>
    <span class="label">Out:</span>
    <items-speed [value]="machine.maxOutput"></items-speed>
    <span *ngIf="!hasAnyKey(machine.maxOutput)">–</span>
  </div>
  <div class="column">
    <div *ngIf="machine.emulatorResult">
      {{machine.emulatorResult.load * 100 | number: '1.0-0' }}%
      <br>
      <span *ngIf="hasAnyKey(machine.emulatorResult.inputFails)">
        <span class="label">Input fails:</span>
        <items-speed [value]="machine.emulatorResult.inputFails" fractionMode="true"></items-speed>
      </span>
      <span *ngIf="hasAnyKey(machine.emulatorResult.outputFails)">
        <span class="label">Output fails:</span>
        <items-speed [value]="machine.emulatorResult.outputFails" fractionMode="true"></items-speed>
      </span>
    </div>
  </div>
  <div class="column">
    <div *ngIf="machine.emulatorResult">
      <span class="label">In:</span>
      <items-speed [value]="machine.emulatorResult.input"></items-speed>
      <span *ngIf="!hasAnyKey(machine.emulatorResult.input)">–</span>
      <br>
      <span class="label">Out:</span>
      <items-speed [value]="machine.emulatorResult.output"></items-speed>
      <span *ngIf="!hasAnyKey(machine.emulatorResult.output)">–</span>
    </div>
  </div>
  <div class="column deleteColumn">
    <a class="delete is-medium" title="Remove machine" (click)="onDeleteRequested.emit()"></a>
  </div>

</div>

