<div class="box columns">
  <div class="column sortableHandle">↕</div>
  <div class="column">
    <span *ngIf="machine.type === ''">
      Select type or recipe:
      <dropdown [options]="allTypesAndRecipes" (valueChange)="machine.setTypeOrRecipe($event)"></dropdown>
    </span>
    <span *ngIf="machine.type.length > 0">
      <input type="text" [(ngModel)]="machine.count" class="input machineCount">
      <dropdown [options]="allTypes" [(value)]="machine.type"></dropdown>
      for
      <dropdown [options]="allRecipes" [(value)]="machine.recipe"></dropdown>
      <div class="extraSettings">
        <span *ngIf="machine.hasFuel()">
          Fuel:
          <dropdown [options]="allFuelTypes" [(value)]="machine.fuel"></dropdown>
        </span>
        <span *ngIf="machine.modules.length > 0">
          Modules:
          <span *ngFor="let module of machine.modules">
            <dropdown [options]="allModuleTypes" [(value)]="module.type" placeholder="–" showIconOnly="true"></dropdown>
          </span>


        </span>
      </div>
    </span>
  </div>
  <div class="column">
    ...
  </div>
  <div class="column deleteColumn">
    <a class="delete is-medium" title="Remove machine" (click)="onDeleteRequested.emit()"></a>
  </div>

</div>

