.sortableHandle {
  font-size: 130%;
  cursor: ns-resize;
  flex-basis: 20px;
  flex-grow: 0;
}
.deleteColumn {
  flex-basis: 20px;
  flex-grow: 0;
}
.delete {
  background-color: #FF8AA2;
}

.delete:hover {
  background-color: #ff3860;
}

.extraSettings {
  margin-top: 5px;
}
.input.machineCount {
  width: 50px;
}
