<div class="columns">
  <div class="column sortableHandle sortableHandleColumn" *ngIf="!machine.isAutoAdded">
    ↕
  </div>
  <div class="column sortableHandleColumn" *ngIf="machine.isAutoAdded"></div>
  <div class="column configColumn">
    <span *ngIf="!machine.isAutoAdded">

      <input type="text" [(ngModel)]="machine.countText" class="input machineCount" title="Machine count" *ngIf="!isCreative()">
      <dropdown [options]="dropdownLists.allTypes" [(value)]="machine.type"></dropdown>
      for
      <dropdown [options]="dropdownLists.recipesPerType[machine.type]" [(value)]="machine.recipe"></dropdown>
      <span *ngIf="machine.isAutoAdded && machine.type == 'matter-source'">
      </span>
      <div class="extraSettings">
        <span *ngIf="machine.hasFuel()">
          <span class="label">Fuel:</span>
          <dropdown [options]="dropdownLists.allFuelTypes" [(value)]="machine.fuel"></dropdown>
        </span>
        <span *ngIf="machine.modules.length > 0">
          <span class="label">Modules:</span>
          <span *ngFor="let module of machine.modules">
            <dropdown [options]="dropdownLists.allModuleTypes" [(value)]="module.type" showIconOnly="true"></dropdown>
          </span>
        </span>
        <span *ngIf="isCreative()">
          <span class="label">Speed:</span>
          <input type="text" [(ngModel)]="machine.countText" class="input machineCount">
        </span>
      </div>

    </span>
    <span *ngIf="machine.isAutoAdded">
      <span class="replaceButton" *ngIf="machine.type == 'matter-source'">
        <dropdown [options]="allReplaceOptions()" (valueChange)="doReplace($event)" placeholder="Replace..."></dropdown>
      </span>
      <span class="icon">
        <img [src]="gameData.itemIconPath(machine.recipe)">
      </span>
      {{machine.recipe}}
    </span>
  </div>
  <div class="column ioColumn">
    <div class="errorString" *ngIf="machine.errorString !== ''">
      {{machine.errorString}}
    </div>
    <items-speed [value]="machine.maxInput"></items-speed>
    <span *ngIf="!hasAnyKey(machine.maxInput)">–</span>
  </div>
  <div class="column ioColumn">
    <items-speed [value]="machine.maxOutput"></items-speed>
    <span *ngIf="!hasAnyKey(machine.maxOutput)">–</span>
  </div>
  <div class="column loadColumn">
    <div *ngIf="machine.emulatorResult">
      {{machine.emulatorResult.load * 100 | number: '1.0-0' }}%
      <span *ngIf="machine.emulatorResult.recommendedCount">
        <a (click)="setRecommendedCount()">(set count to {{machine.emulatorResult.recommendedCount}}</a>)
      </span>
      <br>
      <span *ngIf="hasAnyKey(machine.emulatorResult.inputFails)">
        <span class="label">Input fails:</span>
        <items-speed [value]="machine.emulatorResult.inputFails" fractionMode="true"></items-speed>
        <br>
      </span>
      <span *ngIf="hasAnyKey(machine.emulatorResult.outputFails)">
        <span class="label">Output fails:</span>
        <items-speed [value]="machine.emulatorResult.outputFails" fractionMode="true"></items-speed>
        <br>
      </span>
    </div>
  </div>
  <div class="column ioColumn">
    <div *ngIf="machine.emulatorResult">
      <items-speed [value]="machine.emulatorResult.input"></items-speed>
      <span *ngIf="!hasAnyKey(machine.emulatorResult.input)">–</span>
    </div>
  </div>
  <div class="column ioColumn">
    <div *ngIf="machine.emulatorResult">
      <items-speed [value]="machine.emulatorResult.output"></items-speed>
      <span *ngIf="!hasAnyKey(machine.emulatorResult.output)">–</span>
    </div>
  </div>
  <div class="column deleteColumn">
    <a class="delete is-medium" title="Remove machine" (click)="onDeleteRequested.emit()" *ngIf="!machine.isAutoAdded"></a>
  </div>

</div>
