<div *ngIf="config" class="root configEditor">

  <h1 class="title">Editing config</h1>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Name</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" type="text" [(ngModel)]="config.name">
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Title</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" type="text" [(ngModel)]="config.title">
        </div>
      </div>
    </div>
  </div>

  <h2 class="title is-4">Machines:</h2>

  <div class="columns tableHeader">
    <div class="column sortableHandleColumn"></div>
    <div class="column configColumn">
      Config
    </div>
    <div class="column">
      Max I/O
    </div>
    <div class="column">
      Load & fails
    </div>
    <div class="column">
      Actual I/O
    </div>
    <div class="column deleteColumn"></div>
  </div>
  <div [sortablejs]="config.machines">
    <div *ngFor="let machine of config.machines" class="machineContainer">
      <div class="columns tableSubHeader" *ngIf="machine === firstAutoSource()">
        <div class="column sortableHandleColumn"></div>
        <div class="column">Auto sources:</div>
      </div>
      <div class="columns tableSubHeader" *ngIf="machine === firstAutoSink()">
        <div class="column sortableHandleColumn"></div>
        <div class="column">Auto sinks:</div>
      </div>
      <machine-editor [machine]="machine" (onDeleteRequested)="deleteMachine(machine)"></machine-editor>
    </div>
  </div>

  <div class="columns" *ngIf="config.emulatorResult">
    <div class="column sortableHandleColumn"></div>
    <div class="column configColumn">
      Total
    </div>
    <div class="column">
    </div>
    <div class="column">
    </div>
    <div class="column">
      <span class="label">In:</span>
      <items-speed [value]="config.emulatorResult.totalInput"></items-speed>
      <br>
      <span class="label">Out:</span>
      <items-speed [value]="config.emulatorResult.totalOutput"></items-speed>
    </div>
    <div class="column deleteColumn"></div>
  </div>


  <div class="field is-grouped">
    <p class="control">
      <button class="button" (click)="addMachine()">Add machine</button>
    </p>
    <p class="control">
      <button class="button" (click)="config.runEmulator()">Run emulator</button>
    </p>
  </div>


  <div class="field is-grouped">
    <p class="control">
      <button class="button is-primary" (click)="save()">Save</button>
    </p>
    <p class="control">
      <button class="button" [routerLink]="routes.configs()">Cancel</button>
    </p>
    <p class="control">
      <button class="button is-danger is-outlined" (click)="deleteConfig()">Delete config</button>
    </p>
  </div>

  <div class="infoBox">
      All speed values are items per second. Transport belt throughput (for reference):
      <span class="icon">
        <img src="assets/game_icons/transport-belt.png">
      </span> = 13.33;
      <span class="icon">
        <img src="assets/game_icons/fast-underground-belt.png">
      </span> = 26.67;
      <span class="icon">
        <img src="assets/game_icons/express-transport-belt.png">
      </span> = 40.



    </div>

</div>

