

<div *ngIf="config" class="root">

  <h1 class="title">Editing config</h1>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Name</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" type="text"  [(ngModel)]="config.name">
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Title</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" type="text"  [(ngModel)]="config.title">
        </div>
      </div>
    </div>
  </div>

  <h2 class="title is-4">Machines:</h2>

  <div class="columns tableHeader">
    <div class="column sortableHandleColumn"></div>
    <div class="column configColumn">
      Config
    </div>
    <div class="column">
      Max I/O
    </div>
    <div class="column">
      Load & fails
    </div>
    <div class="column">
      Actual I/O
    </div>
    <div class="column deleteColumn"></div>
  </div>
  <div [sortablejs]="config.machines">
    <div *ngFor="let machine of config.machines" class="machineContainer">
      <machine-editor [machine]="machine" (onDeleteRequested)="deleteMachine(machine)"></machine-editor>
    </div>
  </div>

  <div *ngIf="config.emulatorResult" class="totalIO">
    <span class="label">Total input:</span>
    <items-speed [value]="config.emulatorResult.totalInput"></items-speed>
    &nbsp;&nbsp;&nbsp;
    <span class="label">Total output:</span>
    <items-speed [value]="config.emulatorResult.totalOutput"></items-speed>
  </div>

  <div class="field is-grouped">
    <p class="control">
      <button class="button" (click)="addMachine()">Add machine</button>
    </p>
    <p class="control">
      <button class="button" (click)="config.runEmulator()">Run emulator</button>
    </p>
  </div>


  <div class="field is-grouped">
    <p class="control">
      <button class="button is-primary" (click)="save()">Save</button>
    </p>
    <p class="control">
      <button class="button" [routerLink]="routes.configs()">Cancel</button>
    </p>
    <p class="control">
        <button class="button is-danger is-outlined" (click)="deleteConfig()">Delete config</button>
    </p>
  </div>


</div>
