.root {
  padding: 20px 50px;
}
.totalIO {
  margin-bottom: 10px;
}
.tableSubHeader {
  color: #aaa;
  font-weight: bold;
  border-top: 2px solid #ccc;
  border-bottom: none;
}
.tableSubHeader .column {
  padding-bottom: 0;
}
