<div class="container">
  <nav class="panel">
    <p class="panel-heading">
      Configs
    </p>
    <a *ngFor="let config of configs" [routerLink]="routes.config(config)" class="panel-block">
      {{config.displayName()}}
    </a>
    <div class="panel-block">
      <div class="field is-grouped">
        <p class="control">
          <button class="button is-primary" [routerLink]="routes.newConfig()">Add config</button>
        </p>
        <p class="control">
          <button class="button" [routerLink]="routes.settings()">Settings</button>
        </p>
      </div>
    </div>
  </nav>
</div>
