
<span *ngIf="!is_active">
  <button class="button" (click)="setActive(true)">
    <span class="icon" *ngIf="currentIcon().length > 0">
        <img [src]="currentIcon()">
    </span>
    <span>{{value.length > 0 ? value: placeholder }}</span>
  </button>
</span>
<div class="dropdown is-active" *ngIf="is_active">
  <div class="dropdown-trigger">
    <input #input [(ngModel)]="value" class="input" type="search" (focusout)="setActive(false)" (keyup.enter)="setActive(false)">
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content" *ngIf="visibleOptions().length > 0">
      <a
        *ngFor = "let option of visibleOptions()"
        [ngClass]="{ 'dropdown-item': !option.is_separator, 'dropdown-divider': option.is_separator }"
        (mousedown)="setCurrentOption(option)"
      >
        <span class="icon">
          <img [src]="option.icon" *ngIf="option.icon.length > 0">
        </span>
        {{option.value}}
      </a>
    </div>
  </div>
</div>
