/* You can add global styles to this file, and also import other style files */
@import 'bulma/css/bulma.css';

.sortableHandleColumn {
  font-size: 130%;
  cursor: ns-resize;
  flex-basis: 20px;
  flex-grow: 0;
}
.configColumn {
  flex-basis: 200px;
}
.deleteColumn {
  flex-basis: 20px;
  flex-grow: 0;
}
.label {
  display: inline;
  color: #888;
}
