/* You can add global styles to this file, and also import other style files */
@import 'bulma/css/bulma.css';

.sortableHandle {
  cursor: ns-resize;
}
.sortableHandleColumn {
  font-size: 130%;
  flex-basis: 20px;
  flex-grow: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  line-height: 100%;
}
.configColumn {
  flex-basis: 200px;
}
.deleteColumn {
  flex-basis: 50px;
  flex-grow: 0;
}
.label {
  display: inline;
  color: #888;
}
.configEditor .columns {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
